*,
html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Montserrat;
}

button {
  border: none;
  outline: none;
  background-color: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

button.pry {
  padding: 1em 2.4em;
  background: #ff6634;
  border-radius: 4px;
  font-size: 17px;
  line-height: 21px;
  color: white;
}

input {
  border: none;
  outline: none;
}

nav {
  padding: 20px 100px;
  font-family: "Open Sans";
  width: 100%;
  margin: 0 auto;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 60px;
}

nav li {
  font-size: 16px;
  cursor: pointer;
}

nav li.sign_up_btn {
  padding: 10px 34px;
  border: 1px solid #ff6634;
  border-radius: 4px;
  color: #ff6634;
}

.container {
  max-width: 1440px;
  margin: auto;
}

section {
  padding: 100px;
}

section header {
  text-align: center;
  margin-bottom: 70px;
}

section header h2 {
  color: #303030;
  font-weight: 800;
  font-size: 29px;
  line-height: 35px;
  margin-bottom: 20px;
}

section header p {
  font-size: 14px;
  color: #8d8d8d;
  font-weight: 400;
}

section#hero {
  background: #ffebff;
  height: 100vh;
  max-height: 735px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 0px 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat;
  font-style: normal;
}

section#hero .container {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  gap: 30px;
  width: 100%;
}

section#hero .content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  z-index: 5;
}

section#hero .content h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 10px;
  max-width: 500px;
  color: #303030;
}

section#hero .content p {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #747474;
  margin-bottom: 30px;
  max-width: 500px;
}

section#hero .content .email_input_feild {
  width: 556px;
  background: #ffffff;
  border-radius: 6px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

section#hero .content .email_input_feild input {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  color: #303030;
  padding-left: 20px;
  font-size: 17px;
  letter-spacing: 1px;
}

section#hero .content .email_input_feild input::-webkit-input-placeholder {
  font-size: 17px;
  color: #dedede;
  font-family: inherit;
  line-height: 21px;
  letter-spacing: 1px;
}

section#hero .content .email_input_feild input:-ms-input-placeholder {
  font-size: 17px;
  color: #dedede;
  font-family: inherit;
  line-height: 21px;
  letter-spacing: 1px;
}

section#hero .content .email_input_feild input::-ms-input-placeholder {
  font-size: 17px;
  color: #dedede;
  font-family: inherit;
  line-height: 21px;
  letter-spacing: 1px;
}

section#hero .content .email_input_feild input::placeholder {
  font-size: 17px;
  color: #dedede;
  font-family: inherit;
  line-height: 21px;
  letter-spacing: 1px;
}

section#hero .content .note {
  font-size: 16px;
  line-height: 20px;
  color: #747474;
}

section#hero .content .note span {
  color: #ff6634;
  cursor: pointer;
}

section#hero .image_box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
}

section#hero .image_box .img_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120%;
}

section#hero .image_box .img_wrapper img.hero_img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  height: auto;
  z-index: 5;
}

section#hero .image_box .img_wrapper div.lines {
  position: absolute;
  inset: 0;
  z-index: 0;
}

section#hero .image_box .img_wrapper div.lines .line {
  display: block;
  border: 1px solid #fed5fe;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section#hero .image_box .img_wrapper div.lines .line:nth-child(1) {
  width: calc(162px * 1.2);
  height: calc(162px * 1.2);
}

section#hero .image_box .img_wrapper div.lines .line:nth-child(2) {
  width: calc(162px * 2.4);
  height: calc(162px * 2.4);
}

section#hero .image_box .img_wrapper div.lines .line:nth-child(3) {
  width: calc(162px * 3.6);
  height: calc(162px * 3.6);
}

section#hero .image_box .img_wrapper div.lines .line:nth-child(4) {
  width: calc(162px * 4.8);
  height: calc(162px * 4.8);
}

section#hero .image_box .img_wrapper .review_count {
  position: absolute;
  width: 86px;
  height: 84px;
  right: 120px;
  top: 250px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 11px 5px rgba(239, 239, 239, 0.25);
          box-shadow: 0px 4px 11px 5px rgba(239, 239, 239, 0.25);
  border-radius: 6px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 10px;
}

section#hero .image_box .img_wrapper .review_count .count {
  font-weight: 900;
  font-size: 29px;
  line-height: 35px;
  color: #ff6634;
}

section#hero .image_box .img_wrapper .review_count p {
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  color: #6c6c6c;
}

section#hero .image_box .img_wrapper .hero_comment {
  position: absolute;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 11px 5px rgba(239, 239, 239, 0.25);
          box-shadow: 0px 4px 11px 5px rgba(239, 239, 239, 0.25);
  border-radius: 4px;
  bottom: 100px;
  left: 50px;
  padding: 15px;
  z-index: 5;
  width: 263px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

section#hero .image_box .img_wrapper .hero_comment .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#hero .image_box .img_wrapper .hero_comment .star_icon,
section#hero .image_box .img_wrapper .hero_comment .work_icon {
  width: 11px;
  height: 11px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

section#hero .image_box .img_wrapper .hero_comment .star_icon.unfill svg polygon,
section#hero .image_box .img_wrapper .hero_comment .work_icon.unfill svg polygon {
  fill: #ededed;
}

section#hero .image_box .img_wrapper .hero_comment p.comment {
  font-size: 12px;
  line-height: 15px;
  color: #8d8d8d;
}

section#hero .image_box .img_wrapper .hero_comment .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

section#hero .image_box .img_wrapper .hero_comment .bottom img {
  width: 36px;
  height: 36px;
  background: #a1a1a1;
  border-radius: 50%;
  display: inline-block;
}

section#hero .image_box .img_wrapper .hero_comment .bottom .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

section#hero .image_box .img_wrapper .hero_comment .bottom .data .name {
  font-size: 11px;
  line-height: 13px;
  color: #6c6c6c;
}

section#hero .image_box .img_wrapper .hero_comment .bottom .data .position {
  font-size: 11px;
  line-height: 13px;
  color: #bfbfbf;
}

section#featured {
  padding: 100px 200px;
}

section#featured .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#featured .star_icon,
section#featured .work_icon {
  width: 11px;
  height: 11px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

section#featured .star_icon.unfill svg polygon,
section#featured .work_icon.unfill svg polygon {
  fill: #ededed;
}

section#featured .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 300px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

section#featured .cards .card {
  max-width: 300px;
  min-width: 200px;
  background: #ffffff;
  border: 1px solid #fbfbfb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
}

section#featured .cards .top {
  padding: 30px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

section#featured .cards .top .star_rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

section#featured .cards .top .comment {
  font-size: 12px;
  line-height: 15px;
  color: #8d8d8d;
}

section#featured .cards .top .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#featured .cards .top .tag .label {
  background: rgba(255, 102, 52, 0.05);
  border-radius: 6px;
  font-size: 12px;
  line-height: 15px;
  color: #ff6634;
  padding: 5px 10px;
  display: inline;
}

section#featured .cards .top .tag .workplace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#featured .cards .top .tag .workplace p {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

section#featured .cards .bottom {
  padding: 15px 30px;
  background: #fcfcfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

section#featured .cards .bottom img {
  width: 36px;
  height: 36px;
  background: #a1a1a1;
  border-radius: 50%;
  display: inline-block;
}

section#featured .cards .bottom .data {
  display: -ms-grid;
  display: grid;
}

section#featured .cards .bottom .data .name {
  font-size: 12px;
  line-height: 15px;
  color: #6c6c6c;
}

section#featured .cards .bottom .data .position {
  font-size: 11px;
  line-height: 13px;
  color: #bfbfbf;
}

section#featured .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 80px auto 0;
}

section#featured .pagination span {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #e9e9e9;
}

section#featured .pagination span.active {
  background: #8a8a8a;
}

section#newsletter {
  padding: 100px 200px;
  background: #f8f8f8;
}

section#newsletter .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#newsletter .content {
  width: 60%;
}

section#newsletter .content h2 {
  font-weight: 800;
  font-size: 29px;
  line-height: 35px;
  margin-bottom: 10px;
  color: #303030;
}

section#newsletter p {
  font-size: 14px;
  line-height: 21px;
  color: #8d8d8d;
  margin-bottom: 30px;
}

section#newsletter .input_feid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

section#newsletter .input_feid input {
  padding: 20px;
  background: #ffffff;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
}

section#newsletter .input_feid input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #dedede;
}

section#newsletter .input_feid input:-ms-input-placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #dedede;
}

section#newsletter .input_feid input::-ms-input-placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #dedede;
}

section#newsletter .input_feid input::placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #dedede;
}

section#partners {
  padding: 40px 100px;
  background: #fefefe;
  border-bottom: 1px solid #f4f4f4;
}

section#partners .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (170px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 170px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#partners .container img {
  width: 100%;
}

section#advert .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
}

section#advert .ad {
  aspect-ratio: 1/1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #c2c2c2;
  background: #fbfbfb;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

section#signup {
  padding-top: 50px;
}

section#signup .container .wrapper {
  position: relative;
  margin: 0 60px;
  background: #ffebff;
  border: 1px solid #ffebff;
  border-radius: 8px;
  padding: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

section#signup .container .wrapper h3 {
  font-size: 25px;
  line-height: 30px;
  color: #303030;
  width: 50%;
}

section#signup .container .wrapper button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section#signup .container .wrapper .shapes {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  bottom: 0;
  pointer-events: none;
}

section#signup .container .wrapper .shapes img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

section#signup .container .wrapper .cta {
  position: relative;
  z-index: 2;
}

footer {
  background: #1f2131;
  color: white;
  padding: 100px;
  padding-bottom: 0;
}

footer .container .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

footer .container .wrapper .social {
  padding: 50px 230px 30px 0;
}

footer .container .wrapper .social p {
  font-size: 15px;
  line-height: 145.8%;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 50px;
  font-weight: 400;
}

footer .container .wrapper .social .social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .wrapper .social .social_links .link {
  border-radius: 50%;
  border: 1px solid #393c4d;
  width: 48px;
  height: 48px;
  color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

footer .container .wrapper .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

footer .container .wrapper .links .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

footer .container .wrapper .links .tabs .tab_header {
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  margin-bottom: 12px;
}

footer .container .wrapper .links .tabs .tab {
  font-size: 13px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.6);
}

footer .copy {
  padding: 50px 0;
  font-size: 13px;
  line-height: 145.8%;
  color: #ffffff;
  opacity: 0.4;
}
/*# sourceMappingURL=style.css.map */