*,
html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Montserrat;
}

button {
  border: none;
  outline: none;
  background-color: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

input {
  border: none;
  outline: none;
}

nav {
  padding: 20px 100px;
  font-family: "Open Sans";
  width: 100%;
  margin: 0 auto;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 60px;
}

nav li {
  font-size: 16px;
  cursor: pointer;
}

nav li.sign_up_btn {
  padding: 10px 34px;
  border: 1px solid #ff6634;
  border-radius: 4px;
  color: #ff6634;
}

.container {
  max-width: 1440px;
  margin: auto;
}

section {
  padding: 100px 200px;
}

section header {
  text-align: center;
  margin-bottom: 70px;
}

section header h2 {
  color: #303030;
  font-weight: 800;
  font-size: 29px;
  line-height: 35px;
  margin-bottom: 20px;
}

section header p {
  font-size: 14px;
  color: #8d8d8d;
  font-weight: 400;
}

section#hero {
  background: #ffebff;
  height: 100vh;
  max-height: 735px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat;
  font-style: normal;
}

section#hero .content {
  width: 50%;
}

section#hero .content h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 10px;
  color: #303030;
}

section#hero .content p {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #747474;
  margin-bottom: 30px;
}

section#hero .content .email_input_feild {
  width: 100%;
  background: #ffffff;
  border-radius: 6px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 35px;
}

section#hero .content .email_input_feild input {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  color: #303030;
  padding-left: 20px;
  font-size: 17px;
  letter-spacing: 1px;
}

section#hero .content .email_input_feild input::-webkit-input-placeholder {
  font-size: 17px;
  color: #dedede;
  font-family: inherit;
  line-height: 21px;
  letter-spacing: 1px;
}

section#hero .content .email_input_feild input:-ms-input-placeholder {
  font-size: 17px;
  color: #dedede;
  font-family: inherit;
  line-height: 21px;
  letter-spacing: 1px;
}

section#hero .content .email_input_feild input::-ms-input-placeholder {
  font-size: 17px;
  color: #dedede;
  font-family: inherit;
  line-height: 21px;
  letter-spacing: 1px;
}

section#hero .content .email_input_feild input::placeholder {
  font-size: 17px;
  color: #dedede;
  font-family: inherit;
  line-height: 21px;
  letter-spacing: 1px;
}

section#hero .content .email_input_feild button {
  background: #ff6634;
  border-radius: 4px;
  padding: 20px 36px;
  color: white;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  letter-spacing: 1px;
}

section#hero .content .note {
  font-size: 16px;
  line-height: 20px;
  color: #747474;
}

section#hero .content .note span {
  color: #ff6634;
  cursor: pointer;
}

section#featured .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#featured .star_icon,
section#featured .work_icon {
  width: 11px;
  height: 11px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

section#featured .star_icon.unfill svg polygon,
section#featured .work_icon.unfill svg polygon {
  fill: #ededed;
}

section#featured .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#featured .cards .card {
  max-width: 300px;
  min-width: 220px;
  background: #ffffff;
  border: 1px solid #fbfbfb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
}

section#featured .cards .top {
  padding: 30px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

section#featured .cards .top .star_rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

section#featured .cards .top .comment {
  font-size: 12px;
  line-height: 15px;
  color: #8d8d8d;
}

section#featured .cards .top .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#featured .cards .top .tag .label {
  background: rgba(255, 102, 52, 0.05);
  border-radius: 6px;
  font-size: 12px;
  line-height: 15px;
  color: #ff6634;
  padding: 5px 10px;
  display: inline;
}

section#featured .cards .top .tag .workplace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#featured .cards .top .tag .workplace p {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

section#featured .cards .bottom {
  padding: 15px 30px;
  background: #fcfcfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

section#featured .cards .bottom span.image_sklt {
  width: 36px;
  height: 36px;
  background: #a1a1a1;
  border-radius: 50%;
  display: inline-block;
}

section#featured .cards .bottom .data {
  display: -ms-grid;
  display: grid;
}

section#featured .cards .bottom .data .name {
  font-size: 12px;
  line-height: 15px;
  color: #6c6c6c;
}

section#featured .cards .bottom .data .position {
  font-size: 11px;
  line-height: 13px;
  color: #bfbfbf;
}

section#featured .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 50px auto;
}

section#featured .pagination span {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #e9e9e9;
}

section#featured .pagination span.active {
  background: #8a8a8a;
}

section#newsletter {
  background: #f8f8f8;
}

section#newsletter .content {
  width: 60%;
}

section#newsletter .content h2 {
  font-weight: 800;
  font-size: 29px;
  line-height: 35px;
  margin-bottom: 10px;
  color: #303030;
}

section#newsletter p {
  font-size: 14px;
  line-height: 21px;
  color: #8d8d8d;
  margin-bottom: 30px;
}

section#newsletter .input_feid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

section#newsletter .input_feid input {
  padding: 20px;
  background: #ffffff;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
}

section#newsletter .input_feid input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #dedede;
}

section#newsletter .input_feid input:-ms-input-placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #dedede;
}

section#newsletter .input_feid input::-ms-input-placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #dedede;
}

section#newsletter .input_feid input::placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #dedede;
}

section#newsletter .input_feid button {
  padding: 16px 40px;
  background: #ff6634;
  border-radius: 4px;
  font-size: 17px;
  line-height: 21px;
  color: white;
}

section#partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fefefe;
  padding-top: 50px;
  padding-bottom: 50px;
}

section#partners img {
  width: 170px;
  height: auto;
}
/*# sourceMappingURL=style.css.map */