*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Montserrat;
}

button {
    border: none;
    outline: none;
    background-color: none;
    transition: 0.5s ease;
    &:active {
        transform: scale(0.95);
    }
}

input {
    border: none;
    outline: none;
}

nav {
    padding: 20px 100px;
    font-family: "Open Sans";
    width: 100%;
    margin: 0 auto;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    ul {
        display: flex;
        list-style: none;
        gap: 60px;
    }
    li {
        font-size: 16px;
        cursor: pointer;
        &.sign_up_btn {
            padding: 10px 34px;
            border: 1px solid #ff6634;
            border-radius: 4px;
            color: #ff6634;
        }
    }
}

.container {
    max-width: 1440px;
    margin: auto;
}
section {
    padding: 100px 200px;
    header {
        text-align: center;
        margin-bottom: 70px;
        h2 {
            color: #303030;
            font-weight: 800;
            font-size: 29px;
            line-height: 35px;
            margin-bottom: 20px;
        }
        p {
            font-size: 14px;
            color: #8d8d8d;
            font-weight: 400;
        }
    }
}
section#hero {
    background: #ffebff;
    height: 100vh;
    max-height: 735px;
    display: flex;
    padding: 0px 200px;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;

    .content {
        width: 50%;
        h1 {
            font-weight: 900;
            font-size: 40px;
            line-height: 49px;
            margin-bottom: 10px;
            color: #303030;
        }
        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #747474;
            margin-bottom: 30px;
        }
        .email_input_feild {
            width: 100%;
            background: #ffffff;
            border-radius: 6px;
            padding: 8px;
            display: flex;
            width: 100%;
            margin-bottom: 35px;
            input {
                flex: auto;
                color: #303030;
                padding-left: 20px;
                font-size: 17px;
                letter-spacing: 1px;
                &::placeholder {
                    font-size: 17px;
                    color: #dedede;
                    font-family: inherit;
                    line-height: 21px;
                    letter-spacing: 1px;
                }
            }
            button {
                background: #ff6634;
                border-radius: 4px;
                padding: 20px 36px;
                color: white;
                font-size: 17px;
                line-height: 21px;
                color: #ffffff;
                letter-spacing: 1px;
            }
        }
        .note {
            font-size: 16px;
            line-height: 20px;
            color: #747474;
            span {
                color: #ff6634;
                cursor: pointer;
            }
        }
    }
}

section#featured {
    .stars {
        display: flex;
    }
    .star_icon,
    .work_icon {
        width: 11px;
        height: 11px;
        display: grid;
        place-items: center;
        &.unfill {
            svg polygon {
                fill: #ededed;
            }
        }
    }
    .cards {
        display: flex;
        gap: 30px;
        justify-content: space-around;
        flex-wrap: wrap;
        .card {
            max-width: 300px;
            min-width: 220px;
            background: #ffffff;
            border: 1px solid #fbfbfb;
            box-sizing: border-box;
            box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.04);
            border-radius: 6px;
        }
        .top {
            padding: 30px;
            display: grid;
            gap: 20px;
            .star_rating {
                display: flex;
                gap: 5px;
                font-weight: bold;
                font-size: 11px;
                line-height: 13px;

                color: #000000;
            }
            .comment {
                font-size: 12px;
                line-height: 15px;
                color: #8d8d8d;
            }
            .tag {
                display: flex;
                justify-content: space-between;
                .label {
                    background: rgba(255, 102, 52, 0.05);
                    border-radius: 6px;
                    font-size: 12px;
                    line-height: 15px;
                    color: #ff6634;
                    padding: 5px 10px;
                    display: inline;
                }
                .workplace {
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    p {
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 12px;
                        color: #000000;
                    }
                }
            }
        }
        .bottom {
            padding: 15px 30px;
            background: #fcfcfc;
            display: flex;
            gap: 10px;
            span.image_sklt {
                width: 36px;
                height: 36px;
                background: #a1a1a1;
                border-radius: 50%;
                display: inline-block;
            }
            .data {
                display: grid;
                .name {
                    font-size: 12px;
                    line-height: 15px;
                    color: #6c6c6c;
                }
                .position {
                    font-size: 11px;
                    line-height: 13px;
                    color: #bfbfbf;
                }
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 50px auto;
        span {
            display: inline-block;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            border: 2px solid #e9e9e9;
            &.active {
                background: #8a8a8a;
            }
        }
    }
}

section#newsletter {
    background: #f8f8f8;
    .content {
        width: 60%;
        h2 {
            font-weight: 800;
            font-size: 29px;
            line-height: 35px;
            margin-bottom: 10px;
            color: #303030;
        }
    }
    p {
        font-size: 14px;
        line-height: 21px;
        color: #8d8d8d;
        margin-bottom: 30px;
    }
    .input_feid {
        display: flex;
        gap: 10px;
        input {
            padding: 20px;
            background: #ffffff;
            border-radius: 6px;
            width: 100%;
            font-size: 16px;
            &::placeholder {
                font-size: 15px;
                line-height: 18px;
                color: #dedede;
            }
        }
        button {
            padding: 16px 40px;
            background: #ff6634;
            border-radius: 4px;
            font-size: 17px;
            line-height: 21px;
            color: white;
        }
    }
}

section#partners {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    background: #fefefe;
    padding-top: 50px;
    padding-bottom: 50px;
    img {
        width: 170px;
        height: auto;
    }
}
